name: Scala CI main branch

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

permissions:
  contents: read

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v6
    - name: Set up JDK 11
      uses: actions/setup-java@v4
      with:
        java-version: '11'
        distribution: 'temurin'
    - name: Setup SBT
      uses: sbt/setup-sbt@v1
      with:
        sbt-runner-version: 1.9.9
    - name: Compile
      run: sbt compile package
